<!--Giscus script required to display github discussion comments -->
<!--Ensure `showComments` parameter is set to true in config files for comments to load -->

<script src="https://giscus.app/client.js"
        data-repo="socrabytes/socrabytes.github.io"
        data-repo-id="R_kgDOMhJo5w"
        data-category-id="DIC_kwDOMhJo584Cil_Z"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>